{% load static %}
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inicia sesión</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static '/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static '/css/login.css'%}">
    <link rel="icon" href="{% static 'img/logo_icono.ico' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
</head>

<body style="background-color:#ffffff;">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous">
    </script>
    
    <!-- Section: Design Block -->
    <section class="background-radial-gradient overflow-hidden">
        <style>
            .background-radial-gradient {
                background-color: #192f59;
                background-image: radial-gradient(650px circle at 0% 0%,
                        #2a448a 15%,
                        #213670 35%,
                        #192f59 75%,
                        #162850 80%,
                        transparent 100%),
                    radial-gradient(1250px circle at 100% 100%,
                        #2a448a 15%,
                        #213670 35%,
                        #192f59 75%,
                        #162850 80%,
                        transparent 100%);
            }
        
            .bg-glass {
                background-color: hsla(0, 0%, 100%, 0.9) !important;
                backdrop-filter: saturate(200%) blur(15px);
            }
        </style>        

        <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
            <div class="row gx-lg-5 align-items-center mb-5">
                <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                    <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%); font-family: Montserrat, sans-serif; justify-content: center; text-align: center; display: flex;">
                        Ingeniería de Software - UAZ<br />
                    </h1>
                    <div style="justify-content: center; text-align: center; display: flex;">
                        <img src="{% static 'images/UAZ.png' %}" alt="Logo" style="width: 250px; height: 210px;"">
                    </div>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0 position-relative">

                    <div class="card bg-white">
                        <div class="card-body px-4 py-5 px-md-5">
                            <div class="auth-logo d-flex justify-content-center mb-2">
                                <img src="{% static 'images/logo.png' %}" alt="Logo" style="height: 90px;">
                            </div>
                            <form method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-danger" id="error-message" data-auto-dismiss="5000">
                                    {{ message }}
                                </div>
                                {% endif %}
                                {% endfor %}
                                <div class="mb-4">
                                    <div class="form-group">
                                        <label for="{{ form.username.id_for_label }}">Usuario:</label>
                                        <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" class="form-control" placeholder="Introduce tu nombre de usuario" required>
                                        <div class="invalid-feedback">
                                            Por favor ingrese un nombre de usuario.
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <div class="form-group">
                                        <label for="{{ form.password.id_for_label }}">Contraseña:</label>
                                        <div class="input-group">
                                            <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" class="form-control" placeholder="Introduce tu contraseña" required>
                                            <button type="button" id="togglePassword" class="btn btn-outline-secondary">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </div>
                                        <div class="invalid-feedback">
                                            Por favor ingrese una contraseña.
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <button id="login-button" class="btn btn-primary w-100"
                                        style="padding: 5px; border-radius: 5px; font-family: Montserrat, sans-serif;" type="submit">Iniciar sesión</button>
                                    <br>
                                    <br>
                                    {% comment %} <p><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p> {% endcomment %}
                                </div>
                                <div class="text-center mt-3">
                                    <a href="{% url 'registrar'%}">No tienes cuenta? Regístrate aquí.</a>
                                </div>
                            </form>                                                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    const passwordInput = document.getElementById('id_password');
    const toggleButton = document.getElementById('togglePassword');

    toggleButton.addEventListener('click', function() {
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        this.querySelector('i').classList.toggle('fa-eye');
        this.querySelector('i').classList.toggle('fa-eye-slash');
    });
</script>
</html>
