{% extends 'main.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <h3 class="mb-0">Registro</h3>
                        </div>
                        <div>
                            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="text-center"> 
                            <label for="id_nombre" class="col-form-label">Nombre:</label>
                        </div>
                        {{ form.nombre }}
                        <div class="text-center"> 
                            <label for="id_nombre" class="col-form-label">Correo:</label>
                        </div>
                        {{ form.email }}
                        <div class="text-center"> 
                            <label for="id_nombre" class="col-form-label">Telefono:</label>
                        </div>
                        {{ form.telefono }}
                        <div class="text-center"> 
                            <label for="id_nombre" class="col-form-label">Nombre Usuario:</label>
                        </div>
                        {{ form.username }}
                        <div class="text-center"> 
                            <label for="id_nombre" class="col-form-label">Contraseña:</label>
                        </div>
                        {{ form.password }}
                        <br>
                        Tipo Usuario:
                        {{ form.tipo_user}}
                        <br>
                        <br>
                        <br>
                        <div class="text-right">
                            <button type="button" onclick="cancelar()" class="btn btn-secondary">Cancelar</button>
                            <button type="submit" class="btn btn-success">Registrarse</button>
                        </div>
                        
                        
                       
                        
                    </form>
                    <script>
                        function cancelar() {
                            window.location.href = "{% url 'login' %}";
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

