{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            html,
            body,
            .container-fluid {
            height: 100%;
            }
        
            .row {
            display: flex;
            height: 100%;
            }
        
            .col-md-2.sidebar-container {
            overflow-y: auto;
            }
        
            .col-md-10 {
            overflow-y: auto;
            }
            body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            }
        
            .content-container {
            flex: 1;
            }
        
            footer {
            flex-shrink: 0;
            }
        </style>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{%static '/bootstrap/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{%static '/css/Navbar-Right-Links-Dark-icons.css'%}">
        <link rel="shortcut icon" href="{% static 'images/favico.png' %}" type="image/x-icon">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
        <title>{% block title %}Ingeniería de Software{% endblock title %}</title>
        {% block head %}
            
        {% endblock head %}
            
    </head>
    <body>
        <nav class="navbar navbar-light navbar-expand-lg fw-normal shadow-sm py-1">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand">
                        <img src="{% static 'images/logo.png' %}" href="{% url 'home_page' %}" width="300" height="auto" class="img-fluid" alt="Logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navcol-5">
                        <span class="visually-hidden">Toggle navigation</span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navcol-5">
                        <!-- Aquí coloca tus elementos de navegación -->
                    </div>
                </nav>

                <div class="collapse navbar-collapse" id="navcol-5">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link active" href="{% url 'home_page' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'consulta_minutas' %}">Minutas</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'titulacion' %}">Titulación</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'enviar_correo' %}">Correos</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'usuarios' %}">Usuarios</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'forms' %}">Formularios</a></li>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                <span class="nav-item">{{user.nombre}}</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end bg-white border-0 rounded-0 rounded-bottom m-0">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'perfil_usuario' user.id %}" class="dropdown-item">Perfil</a>
                                {% endif %}
                                
                                
                                {% comment %}
                                    <a href="{% url 'cambiar_password' %}" class="dropdown-item">Cambiar contraseña</a>
                                    {% if user.is_superuser or user.is_staff %}
                                    <a href="{% url 'usuarios' %}" class="dropdown-item">Gestión de Usuarios</a>
                                    {% endif %}
                                {% endcomment %}
                                
                                <a href="{% url "logout" %}" class="dropdown-item">Salir</a>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- ESTO FUNCIONA PARA AGREGAR CONTENIDO SIN TENER QUE CREAR TODA LA ESTRUCTURA DEL HTML -->
        {% block content %}
        {% endblock content %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="{%static '/bootstrap/js/bootstrap.min.js'%}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{%static '/js/messages_timer.js'%}"></script>
        
        {% block scripts %}
            
        {% endblock scripts %}
    </body>
</html>
