<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>SERVICIO DE TUTORIAS</title>
</head>
<body>
    <!-- NAV BAR PARA QUE MUESTRE EN TODAS LOS HTMLS QUE EXTIENDAN DE MAIN -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- NAV PARA MOSTRAR EL TITULO -->
        <a class="navbar-brand" href="{% url 'home_page' %}">UAZ TUTORIAS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarMutantropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAV QUE MUESTRA COMO MENU DE HAMBURGUESA CUANDO LA PAGINA SE HACE EN MODO DISPOSITIVO MOVIL -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- ENCARGADO DE MOSTRAR EL TITULO DE EVALIACIONES Y REDIRECCIONAR A LA PAGINA DE EVALUACIONES -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'evaluaciones' %}">EVALUACIONES</a>
                </li>

                <!-- ENCARGADO DE MOSTRAR LAS ACTIVIDADES DE TUTORES -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'actividades' %}">ACTIVIDADES</a>
                </li>

                <!-- ENCARGADO DE MOSTRAR LAS MINIUTAS -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'consulta_minutas' %}">MINUTAS</a>
                </li>
            </ul>

            <!-- BOTON ENCARGADO DE MOSTRARSE AL FINAL DEL NAVBAR Y REDIRECCIONAR AL LOGIN/CERRAR SESION -->
            <div class="ms-auto d-flex align-items-center">
                {% if user.is_authenticated %}
                    <span class="navbar-text me-3">{{ user.nombre }}</span>
                    <form class="form-inline" action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-primary">Cerrar Sesión</button>
                    </form>
                {% else %}
                    <form class="form-inline">
                        <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- ESTO FUNCIONA PARA AGREGAR CONTENIDO SIN TENER QUE CREAR TODA LA ESTRUCTURA DEL HTML -->
    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
